<%- include('partials/header'); -%>

<header>
  <div class="marvel-toy">
    <img
      src="https://i.ibb.co/hKnWJZ5/1183272-removebg-preview.png"
      alt="ironman"
    />
  </div>
  <div class="headings">
    <h2>Marvel Toy Store</h2>
    <h3>By the developers for the developers</h3>
    <a href="/store" class="btn">View Pieces</a>
  </div>
</header>

<%- include('partials/footer'); -%>
