<%- include('partials/header'); -%>

<ul class="toys">
  <li class="toy">
    <img
      src="https://i.ibb.co/hKnWJZ5/1183272-removebg-preview.png"
      alt="Marvel Toy Icon"
    />
    <h4>Mark I</h4>
    <p>Banana, Vanilla ice cream, Milk</p>
  </li>
  <li class="toy">
    <img
      src="https://i.ibb.co/hKnWJZ5/1183272-removebg-preview.png"
      alt="Marvel Toy Icon"
    />
    <h4>Hulkbuster Armor</h4>
    <p>Mark XLIV, Avengers: Age of Ultron</p>
  </li>
  <li class="toy">
    <img
      src="https://i.ibb.co/hKnWJZ5/1183272-removebg-preview.png"
      alt="Marvel Toy Icon"
    />
    <h4>Hulkbuster Armor</h4>
    <p>Mark XLVIII, Avengers: Age of Ultron</p>
  </li>
  <li class="toy">
    <img
      src="https://i.ibb.co/hKnWJZ5/1183272-removebg-preview.png"
      alt="Marvel Toy Icon"
    />
    <h4>War Machine armor</h4>
    <p>War Machine Mark I, Iron Man 2</p>
  </li>
  <li class="toy">
    <img
      src="https://i.ibb.co/hKnWJZ5/1183272-removebg-preview.png"
      alt="Marvel Toy Icon"
    />
    <h4>Iron Patriot</h4>
    <p>War Machine Mark II, Iron Man 3</p>
  </li>
  <li class="toy">
    <img
      src="https://i.ibb.co/hKnWJZ5/1183272-removebg-preview.png"
      alt="Marvel Toy Icon"
    />
    <h4>Iron Spider</h4>
    <p>A nanotech armor, Spider-Man: Homecoming</p>
  </li>
</ul>

<%- include('partials/footer'); -%>
